<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  </head>
  <body>
    <div
      style='max-width: 700px; margin:auto; border: 10px solid #ddd; padding: 20px 20px; font-size: 110%; font-family: cursive'
    >
      <div style='text-align: center'>
      </div>
      <h2
        style='text-align: center; text-transform: uppercase;color: #1d9e1b;'
      >✨ WELCOME ✨</h2>
      <h2
        style='text-align: center; text-transform: uppercase;color: #174ea6;'
      >❄️ Winter Social Network ❄️</h2>
      <p>Congratulations! You're almost set to start using Winter Social
        Network. Just click the button below to validate your email address.
      </p>

      <a
        href={{url}}
        style='background: crimson; text-decoration: none; color: white; padding: 10px 20px; margin: 10px 0; display: inline-block; border-radius: 10px; font-weight: 600'
      >
        {{txt}}
      </a>

      <p>If the button doesn't work for any reason, Please Try Again 😥</p>
      <h1 style='text-align: center; margin-top: 35px'>Thank you ! </h1>
      <h3 style='text-align: right; font-style: italic'>NTHMiLo</h3>
    </div>
  </body>
</html>